body {
  background-color: #ccc8aa;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container {
  padding: 0 4rem;
  padding-bottom: 2rem;
  margin-top: 10rem;
  border: solid 1px #7d7c7c;
  border-radius: 1rem;
}
button {
  background-color: #191717;
  color: #f1efef;
}
